<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.dao.EmpMapper">

	<resultMap type="com.mo.entity.Emp" id="Emp">
		<!-- 员工对象自身的各种属性 -->
		<id column="empno" property="empno" />
		<result column="ename" property="ename" />
		<result column="job" property="job" />
		<result column="mgr" property="mgr" />
		<result column="sal" property="sal" />
		<result column="comm" property="comm" />
		<result column="hiredate" property="hiredate"/>

		<!-- 引入部门做为属性 -->
		<association property="dept" javaType="com.mo.entity.Dept">
			<id column="deptno" property="deptno" />
			<result column="dname" property="dname" />
			<result column="loc" property="loc" />
		</association>

	</resultMap>
	
	<!-- 查询总记录数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(1) from emp
	</select>

	<!-- 动态查询所有的员工，并关联查出其所在的部门 -->
	<select id="findEmps" resultMap="Emp" parameterType="java.util.Map">
		SELECT e.*,d.dname,d.loc FROM emp e,dept d WHERE e.deptno = d.deptno
		<if test="emp.ename!=null">
			and e.ename like %${emp.ename}%,
		</if>
		<if test="emp.mgr!=null">
			and e.mgr = #{emp.mgr},
		</if>
		<if test="emp.job!=null">
			and e.job = #{emp.job}
		</if>
		<if test="emp.sal!=null">
			and e.sal = #{emp.sal},
		</if>
		<if test="emp.hiredate!=null">
			and e.hiredate = #{emp.hiredate},
		</if>
		<if test="emp.comm!=null">
			and e.comm = #{emp.comm},
		</if>
		order by e.empno
		limit #{offset},#{pagesize}
	</select>

	<!-- 根据ID查询员工 -->
	<select id="findByid" resultMap="Emp" parameterType="java.lang.Integer">
		select
		e.*,d.dname,d.loc from emp e inner join dept d on e.deptno = d.deptno
		where e.empno=#{empno}
	</select>

	<!-- 动态新增员工 -->
	<insert id="insertEmp" parameterType="com.mo.entity.Emp">
		insert into emp (
		<if test="ename!=nulll">
			ename,
		</if>
		<if test="mgr!=null">
			mgr,
		</if>
		<if test="job!=null">
			job,
		</if>
		<if test="sal!=null">
			sal,
		</if>
		<if test="comm!=null">
			comm,
		</if>
		<if test="hiredate!=null">
			hiredate,
		</if>
		<if test="deptno!=null">
			deptno,
		</if>
		) values (
		<if test="ename!=nulll">
			#{ename},
		</if>
		<if test="mgr!=null">
			#{mgr},
		</if>
		<if test="job!=null">
			#{job},
		</if>
		<if test="sal!=null">
			#{sal},
		</if>
		<if test="comm!=null">
			#{comm},
		</if>
		<if test="hiredate!=null">
			#{hiredate},
		</if>
		<if test="deptno!=null">
			#{deptno},
		</if>
		)
	</insert>

	
</mapper>